<template>
  <div class="timer ml-4 font-bold w-12">
    {{ Math.floor(clock / 60) }}:{{
      zeroPad(clock - 60 * Math.floor(clock / 60))
    }}
  </div>
</template>

<script lang="ts" setup>
import { zeroPad } from "../utilities";
defineProps({
  clock: {
    type: Number,
    required: true,
  },
});
</script>
