<template>
  <div class="dashboard_wrapper">
    <div class="flex flex-col align-center justify-around ml-8">
      <div class="flex justify-center">
        <IconBrandSpeedtest />
        <div class="ml-2">{{ $t("time") }}</div>
        <ClockComponent :clock="clock_value" />
      </div>
      <div class="flex justify-center">
        {{ $t("error count") }} : {{ accuracy }}
      </div>
      <button
        class="bg-grey px-1 py-2 rounded-md wrap wrap_update hover:bg-grey-300"
        @click="restart"
      >
        {{ $t("restart") }}
      </button>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { ref } from "vue";
import { IconBrandSpeedtest } from "@tabler/icons-vue";
import ClockComponent from "./ClockComponent.vue";

defineProps({
  speed: Number, // why do we need this?
  accuracy: {
    type: Number,
    default: 0,
  },
  clock_value: {
    type: Number,
    required: true,
  },
});

const game_over = ref(false);

function restart() {
  window.location.reload();
}
</script>

<style>
.dashboard_wrapper {
  display: grid;
}
.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrap_update:hover {
  cursor: pointer;
}
</style>
