<template>
  <Transition>
    <div
      class="fixed w-full h-full top-0 left-0 flex justify-center"
      v-if="isOpen"
    >
      <div
        :open="isOpen"
        class="bg-blue h-48 mt-48 left-20 py-8 px-4 text-white w-3/4 md:max-w-md mx-auto rounded shadow-lg z-50"
      >
        <div class="text-xl text-bold text-center">
          {{ $t("you results") }}
        </div>
        <div>{{ $t("youre final accuracy") }} {{ finalAccuracy }}</div>
        <div>{{ $t("youre speed") }} {{ speedOfTyping }} chars in minute</div>
        <button class="bg-grey p-3 rounded-md" @click="tryAgain">
          try again
        </button>
      </div>
    </div>
  </Transition>
</template>

<script setup lang="ts">
import { ref, onMounted } from "vue";

const isOpen = ref(true);

function tryAgain() {
  window.location.reload();
}

defineProps({
  finalAccuracy: {
    type: Number,
    required: false,
  },
  speedOfTyping: {
    type: Number,
    required: false,
  },
});
</script>

<style>
/* we will explain what these classes do next! */
.v-enter-active,
.v-leave-active {
  transition: opacity 0.25s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
</style>
