<template>
  <DialogGameZone @start-game="startGame" />
  <div class="game_zone">
    <TextGame :text="text" :selected="selected_index" :error="error" />
    <DashboardText :clock_value="clock_value" :accuracy="error_counter" />
    <FinalScoreDialog
      v-if="finished"
      :finalAccuracy="error_percent"
      :speedOfTyping="speedOfTyping"
    />
  </div>
</template>

<script setup lang="ts">
import { onMounted, ref } from "vue";
import DialogGameZone from "./DialogGameZone.vue";
import FinalScoreDialog from "./FinalScoreDialog.vue";

import getIntRandom from "../helpers/getIntRandom";
import TextGame from "./TextGame.vue";
import DashboardText from "./DashboardText.vue";
import data from "./text.json";

const text = ref(""); // text of the game
let timer: any; // create a timer to clearInterval
const speedOfTyping = ref(0); // how fast do you want to type
const clock_value = ref(120); // how many times do you have

const error = ref(false); // error now

const error_counter = ref(0); // how many errors
const selected_index = ref(0); // index now
const date = ref(0);
const speed = ref(0); // right keypress in a minute
const finished = ref(false);

const error_percent = ref(0); // percent of error

onMounted(() => {
  const random_text = data[getIntRandom(0, data.length)];
  text.value = random_text.text;
});

function startGame() {
  timer = setInterval(() => {
    clock_value.value = clock_value.value - 1;
  }, 1000);
  // alert("Game started");
  window.addEventListener("keypress", (e) => {
    if (text.value[selected_index.value] === e.key) {
      if (selected_index.value === 0) {
        date.value = +new Date();
      }
      if (selected_index.value > text.value.length - 2) {
        const result = +new Date() - date.value;
        speed.value = text.value.length / (result / 60000);
        const procent = text.value.length / 100;
        const time_spend = 60 / Math.round(120 - clock_value.value);
        speedOfTyping.value = Math.floor(text.value.length * time_spend);
        //@ts-ignore
        error_percent.value = parseFloat(100 - error_counter.value / procent).toFixed(2);
        finished.value = true;
      }
      error.value = false;
      selected_index.value = selected_index.value + 1;
    } else {
      error_counter.value = error_counter.value + 1;
      error.value = true;
    }
  });
}
</script>

<style>
.game_zone {
  background-color: white;
  width: 60%;
  margin: 2em auto;
  padding: 10px 15px;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 85% 15%;
  /* text-wrap: balance; */
  /* white-space: nowrap; */
}
</style>
