<template>
  <header class="header">
    <h1 class="text-xl bg-blue p-2 text-white mt-10 font-sans text-center">
      {{ $t("keyboard typing speed test") }}
    </h1>
  </header>
</template>

<script setup lang="ts"></script>
