<template>
  <Transition>
    <div
      class="fixed w-full h-full top-0 left-0 flex justify-center"
      v-if="isOpen"
    >
      <div
        :open="isOpen"
        @close="startGame"
        class="bg-blue-500 h-48 mt-48 left-20 py-8 px-4 text-white w-3/4 md:max-w-md mx-auto rounded shadow-lg z-50"
      >
        <IconPlayerPlayFilled class="ml-auto mr-auto" />
        <div class="text-xl text-bold text-center">
          {{ $t("Please be prepared") }}
        </div>
        <div class="h-100 pb-4"></div>
        <div class="flex justify-around">
          <button @click="startGame(false)" class="bg-green p-3 rounded-md">
            Start typing now
          </button>
        </div>
      </div>
    </div>
  </Transition>
</template>

<script setup lang="ts">
import { ref } from "vue";
import { IconPlayerPlayFilled } from "@tabler/icons-vue";

import {
  Dialog,
  DialogPanel,
  DialogTitle,
  DialogDescription,
} from "@headlessui/vue";

// The open/closed state lives outside of the Dialog and
// is managed by you.
const isOpen = ref(true);

function startGame(value: boolean) {
  // here start our timer
  isOpen.value = value;
}
</script>

<style>
/* we will explain what these classes do next! */
.v-enter-active,
.v-leave-active {
  transition: opacity 0.25s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
</style>
