<template>
  <p class="text_game__p">
    <span v-for="(char, index) in text">
      <span
        v-if="index === selected"
        :class="error ? 'text__game_error' : 'text__game_selected'"
      >
        <span class="text__game_empty"></span>{{ char }}</span
      >
      <span
        v-else-if="index < selected"
        class="text__game_span text__game_done"
      >
        {{ char }}</span
      >
      <span v-else class="text__game_span">{{ char }}</span>
    </span>
  </p>
</template>

<script lang="ts" setup>
const props = defineProps({
  text: String,
  selected: {
    type: Number,
    default: 0,
  },
  error: Boolean,
});
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");

.text_game__p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 23px;
  letter-spacing: 0.8px;
  line-height: 1.8;
  /* padding: 2px; */
  color: #5c5c5c;
}

.text__game_span {
  /* padding: 0.5px; */
}

.text__game_done {
  color: #5bc538;
}

.text__game_selected {
  position: relative;
  /* border-radius: 3px; */
}
.text__game_empty {
  display: inline-block;
  height: 18px;
  background-color: black;
  padding: 6px 1px;
  border-radius: 3px;
  animation-name: tickle;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  position: absolute;
  top: 7px;
  z-index: 2;
}

@keyframes tickle {
  0% {
    opacity: 0;
  }
  85% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.text__game_error {
  border-radius: 3px;
  padding: 0.5px;
  color: #f36747;
  position: relative;
}
</style>
