<template>
  <div class="flex flex-col h-screen justify-between">
    <Header />
    <main class="mb-auto h-10">
      <GameZone />
    </main>
    <Footer />
  </div>
</template>

<script setup lang="ts">
import Header from "./components/Header.vue";
import Footer from "./components/Footer.vue";
import GameZone from "./components/GameZone.vue";
</script>
