<template>
    <header class="header">
        <roter-link href="/">Тренажер</roter-link>
        <roter-link href="/test">Тестирование</roter-link>
        <roter-link href="/learning">Обучение</roter-link>
    </header>
</template>